@charset "utf-8";

/* common */
.section_title { font-size: 1.5rem; }

/* icn */
.icn { display: inline-block; }

header .icn_hamburger { position: relative; display: inline-block; margin-right: .5rem;  width: 1.2rem; height: 1rem; }
header .icn_hamburger .burger { position: absolute; left: 0; width: 100%; height: 2px; border-radius: 15px; -webkit-transition: background-color .2s; transition: background-color .2s; background: #000; }
header .icn_hamburger .burger_top { top: 0; }
header .icn_hamburger .burger_middle { top: calc(50% - 1px); }
header .icn_hamburger .burger_bottom { bottom: 0; }

header .icn_close { position: relative; display: inline-block; width: 2rem; height: 2rem; }
header .icn_close::before,
header .icn_close::after { content: ''; position: absolute; left: 0; top: calc(50% - 2px); width: 100%; height: 4px; border-radius: 25px; -webkit-transition: background-color .2s ease, transform .2s ease; transition: background-color .2s ease, transform .2s ease; background: #000;}
header .icn_close::before { transform: rotate3d(0, 0, 1, 45deg);}
header .icn_close::after { transform: rotate3d(0, 0, 1, -45deg);}

.icn_login { display: inline-block; width: 1.375rem; height: 1.375rem; background:  url("../img/set_login.png") no-repeat top left / 6.25rem 15.625rem; }
.icn_google { background-position: 0 -3.125rem; }
.icn_facebook { background-position: 0 -6.25rem; }
.icn_naver { background-position: 0 -9.375rem; }
.icn_apple { background-position: 0 -12.5rem; }

.icn_mobile { display: inline-block; width: 5.125rem; height: 5.125rem; background: url("../img/icn_main_characters_spr.png") no-repeat top left / 45.375rem 33.875rem; filter: grayscale(.8); transition: filter .25s; }
.mo_game_1 { background-position: 0 -17.25rem; }
.mo_game_2 { background-position: -5.75rem -17.25rem;}
.mo_game_3 { background-position: -11.5rem -17.25rem; }
.mo_game_4 { background-position: -17.25rem -17.25rem; }
.mo_game_5 { background-position: -23rem -17.25rem; }
.mo_game_6 { background-position: -28.75rem -17.25rem; }
.mo_game_7 { background-position: -34.5rem -17.25rem; }

.icn_os { display: inline-block; width: 1.125rem; height: 1.125rem; background: url("../img/set_device.png") no-repeat top left / 3.125rem 9.375rem; }
.icn_desktop { background-position: 0 0; }
.icn_appstore { background-position: 0 -3.125rem; }
.icn_playstore { background-position: 0 -6.25rem; }

.icn_sns { display: inline-block; width: 1.25rem; height: 1rem; background: #fff url("../img/set_footer.png") no-repeat top left / 6.25rem 18.75rem; transition: background-color .25s; }
.icn_s_youtube { background-position: 0 -3.125rem; }
.icn_s_twitter { background-position: 0 -6.25rem; }
.icn_s_facebook { background-position: 0 -9.375rem; }

/* header */
header { position: relative; width: 100%; height: 3.75rem; }
header .header_wrap { position: fixed; z-index: 10; width: 100%; height: 3.75rem; border-bottom: 1px solid #e3e3e3; background: #fff; }
header .header_inner { position: relative; margin: 0 auto; width: 100%; max-width: 2560px; height: 100%; text-align: center; }

header .js_btn_gnb_open { position: absolute; display: flex; justify-content: center; align-items: center; left: 1.5rem; top: 0; font-size: 1rem; height: 100%; }

header .header_logo { margin: 0 auto; width: 14rem; height: 100%; }
header .header_logo a { display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; padding: 0 1rem; }
header .header_logo img { width: 100%; }

header .header_utill_wrap { position: absolute; right: 1.5rem; top: 0; display: flex; justify-content: space-between; align-items: center; padding: 0 1rem; height: 100%; }
header .header_utill_wrap li { display: flex; justify-content: space-between; align-items: center; margin-left: 1rem; height: 100%; }
header .header_utill_wrap li a { display: flex; justify-content: space-between; align-items: center; padding: 0 1rem; width: 100%; height: 100%; color: #000; }

header .header_utill_wrap .pcbang { padding-left: .3rem; color: #737373; }

header .header_utill_wrap .utill_login a { height: 2rem; border: 2px solid #000; border-radius: 25px; -webkit-transition-property: color, border, background-color; transition-property: color, border, background-color; -webkit-transition-duration: .2s; transition-duration: .2s; }

/* header gnb */
header .gnb_wrap { position: fixed; top: 0; left: -22rem; z-index: 100; width: 22rem; height: 100vh; padding: 3.7rem 0 14.55rem; transform: translate3d(0, 0, 0); opacity: 0; transition: transform .5s ease, opacity .3s ease; background: #fff;}
header.open .gnb_wrap { transform: translate3d(100%, 0, 0); opacity: 1; } 

header .js_btn_gnb_close { position: absolute; top: 0; left: 1rem; width: 3.75rem; height: 3.75rem; }

header .gnb_contents_wrap { height: 100%; border-top: 1px solid #e3e3e3; }
header .gnb_contents_wrap a { font-size: .875rem; }
header .gnb_contents_scroll_wrap { padding: 1.5rem 0; height: 100%; overflow-x: hidden; overflow-y: auto; }

header .gnb_contents_tab { position: relative; margin-bottom: 1rem; padding: 0 1rem; }
header .btn_game { padding: .5rem 1rem; color: #737373; transition: color .4s ease;}
header button.btn_game.on { color: #000; }
header .helpcenter { position: absolute; right: 1rem; top: 0; padding: .5rem 1rem; border: 1px solid #737373; color: #737373; transition: color .2s ease, background-color .2s ease; }

header .gnb_contents_inner { position: relative; }
header .gnb_game_wrap { position: absolute; top: 0; left: 0; padding: 1rem; width: 100%; background: #fff; }
header .gnb_game_wrap li { margin: .75rem 0; }
header .gnb_game_wrap li a { display: block; padding: .5rem 1rem; width: 100%; color : #737373;}
header .gnb_game_wrap.on { z-index: 1; animation: gameTabSlide .8s ease backwards; }

header .gnb_service_wrap { position: absolute; bottom: 0; left: 0; width: 100%; z-index: 5; }
header .gnb_service_wrap a { font-size: .875rem; color : #fff; }
header .gnb_service_list { display: flex; justify-content: space-between; flex-wrap: wrap; padding: 1.5rem 0 1.5rem 1rem; background: #222426; }
header .gnb_service_list li { width: 33.333%; margin: .8rem 0;}
header .gnb_service_list li a { padding: .5rem 1rem; }
header .gnb_service_all { display: block; padding: 1.5rem 2rem; width: 100%; text-align: center; transition: background-color .2s ease; background: #17191d; }

header .gnb_dimmed { position: fixed; top: 0; left: 0; z-index: -1; width: 100%; height: 100vh; transition: background-color .3s ease, z-index .3s ease; background: rgba(0, 0, 0, 0); }
header.open .gnb_dimmed { z-index: 99; background: rgba(0, 0, 0, 0.5); }


/* main */
main { overflow-x: hidden; }

/* banner section */
.banner_wrap { position: relative; z-index: 3; }
.banner_wrap .owl-dots { position: absolute; bottom: -4rem; left: 50%; z-index: 1; display: flex; justify-self: center; transform: translate3d(-50%, 0, 0); }
.banner_wrap .owl-dot { position: relative; width: 15.9375rem; height: 4rem; }
.banner_wrap .owl-dot::before { content: ''; position: absolute; z-index: -1; width: 100%; height: 100%; opacity: .4; background: no-repeat center / cover; transition: opacity 8s; }
.banner_wrap .owl-dot.active::before { opacity: .3; }
.banner_wrap .owl-dot.active + .owl-dot::before { opacity: 1; }
.banner_wrap .owl-dot.anima::before { opacity: 1; }
.banner_wrap .owl-dot:nth-child(1)::before { background-image: url("https://s1.pearlcdn.com/pearlabyss/Upload/thumbnail/202012/11/C48K2D3ERF9CXYFU20201211010830972.jpg"); }
.banner_wrap .owl-dot:nth-child(2)::before { background-image: url("https://s1.pearlcdn.com/pearlabyss/Upload/thumbnail/20212/26/9EFKZ7YRZ6AZXM3220210226052125126.jpg"); }
.banner_wrap .owl-dot:nth-child(3)::before { background-image: url("https://s1.pearlcdn.com/pearlabyss/Upload/thumbnail/20209/8/MMYPV8QO5YRX0F7820200908081836459.jpg"); }
.banner_wrap .fake-dot { position: absolute; top:0; left:0; width: 15.9375rem; height: 4rem; background: url(https://s1.pearlcdn.com/pearlabyss/Upload/thumbnail/202012/11/C48K2D3ERF9CXYFU20201211010830972.jpg) no-repeat center / cover; }
.banner_wrap .slider_button { width: 100%; height: 100%; }

/* info section */
.info_wrap { margin: 4rem auto; width: 100%; max-width: 80rem; }

.info_wrap .info_top { display: flex; justify-content: space-between; align-items: baseline; margin-bottom: 2rem; }
.info_wrap .btn_wrap { display: flex; justify-content: space-between; align-items: center; } 
.info_wrap .btn_wrap a { font-size: .9rem; }
.info_wrap .btn_wrap a:last-child { margin-left: 2rem; }

.info_wrap .info_contents { display: flex; justify-content: space-between; }
.info_wrap .recommend { display: flex; justify-content: space-between; width: 53.125rem; }
.info_wrap .rec_item { position: relative; width: 19%; box-shadow: 0 0 10px rgba(0, 0, 0, .1); transition: transform .5s, box-shadow .5s; }
.info_wrap .rec_item:last-child { margin-right: 1%;}
.info_wrap .recommend_img { position: relative; display: block; width: 100%; height: 10rem; overflow: hidden; transition: height .25s, margin .25s, padding .25s;}
.info_wrap .recommend_img img { width: 100%; transform-origin: bottom; transition: transform .25s;}
.info_wrap .recommend_mark,
.info_wrap .recommend_title,
.info_wrap .recommend_reason { display: block; width: 90%; margin: 0 auto; padding-left: .5rem; }
.info_wrap .recommend_mark { margin: .75rem auto; padding: .5rem; font-size: .75rem; color: #fff; background: #000; }
.info_wrap .recommend_title { font-size: 1rem; margin-bottom: 2.5rem; }
.info_wrap .recommend_reason { font-size: .875rem; color: #737373; padding-bottom: 1rem; }

.rec_bdo .recommend_img img { padding: 1rem 0 0 .5rem; width: 160%; }
.rec_bdm .recommend_img img { margin-top: -3rem; padding: 1rem 0 0 1rem; width: 140%; }
.rec_sha .recommend_img img { padding: 1rem 1rem 0 0; }
.rec_cd .recommend_img img { padding: 1rem 1rem 0 0; }
.rec_dokev .recommend_img img { margin-top: -2rem; padding: 0 1rem 0 1rem; width: 100%; }

.info_wrap .login { display: flex; justify-content: center; flex-direction: column; padding: 0 2.5rem; width: 23.125rem; box-shadow: 0 0 10px rgba(0, 0, 0, .1); }
.info_wrap .login_nexonid { margin-bottom: .5rem; background: #000; }
.info_wrap .login_nexonid a { display: flex; justify-content: center; align-items: center; height: 3.5rem; color: #fff; font-size: .875rem; }
.info_wrap .login_etc { display: flex; justify-content: space-between; height: 3rem; margin-bottom: .5rem;}
.info_wrap .login_etc a { display: flex; justify-content: center; align-items: center; width: 8.8125rem; height: 3rem; font-size: .875rem; color: #fff; background: #272727; }

.info_wrap .login_other { display: flex; justify-content: center; align-items: center; margin-bottom: .5rem; height: 2.5rem; background: #fafafa; }
.info_wrap .login_other p { color: #737373; font-size: .75rem; }
.info_wrap .login_other ul { display: flex; justify-content: center; align-items: center; }
.info_wrap .login_other ul li { margin-left: .5rem;}
.info_wrap .login_other ul li a { display: flex; justify-content: center; align-items: center; width: 1.375rem; height: 1.375rem; opacity: .5; -webkit-filter: grayscale(.3); filter: grayscale(.3); transition: filter .25s, opacity .25s; }

.info_wrap .login_support { display: flex; justify-content: space-between; }
.info_wrap .login_support a { font-size: .75rem; color: #737373; }
.info_wrap .login_support a:last-child { margin-left: .5rem; }

/* game_wrap */
.game_wrap { margin: 4rem auto; width: 100%; max-width: 80rem;}

.game_top { position: relative; display: flex; justify-content: space-between; width: 100%; margin-bottom: 2rem; }

.view_type { position: absolute; left: 6rem; top: -10%; display: flex;}
.view_type .btn { position: relative; display: flex; width: 30px; height: 30px; border: 1px solid #c3c3c3; background: #fff; transition: background-color .4s ease, border .4s ease; }

/* type - ICON*/
.type_thumbnail .view_type .btn.js_btn_thumbnail,
.type_list .view_type .btn.js_btn_list { background: #000; border: 1px solid #000; }
.type_thumbnail .view_type .btn.js_btn_thumbnail .btn_elem,
.type_list .view_type .btn.js_btn_list .btn_elem { background: #fff; }

/* type - thumbnail ICON */
.thumbnail_dot { position: absolute; display: inline-block; width: 6px; height: 6px; background: #c3c3c3; transition: background-color .25s ease; }
.thumbnail_dot:nth-child(1) { top: 6px; left: 6px; }
.thumbnail_dot:nth-child(2) { top: 6px; right: 6px; }
.thumbnail_dot:nth-child(3) { bottom: 6px; right: 6px; }
.thumbnail_dot:nth-child(4) { bottom: 6px; left: 6px; }

/* type - list ICON*/
.list_bar { position: absolute; left: 50%; display: inline-block; transform: translate3d(-50%, -50%, 0); width: 18px; height: 3px; background: #c3c3c3; transition: background-color .25s ease; }
.list_bar:nth-child(1) { top: 25%; }
.list_bar:nth-child(2) { top: 50%; }
.list_bar:nth-child(3) { top: 75%; }

/* search box */
.search_box { position: absolute; top: 0; right: 0; transform: translate3d(0, -50%, 0); }
.search_box input { padding: .75rem .5rem; width: 15rem; font-size: .875rem; color: #737373; border: none; border-bottom: 1px solid #737373; transition: color .25s ease, border .25s ease; }
.search_box input::placeholder { color: #737373; transition: color .25s ease; }
.search_box input:active, .search_box input:active::placeholder,
.search_box input:focus, .search_box input:focus::placeholder,
.search_box input:hover, .search_box input:hover::placeholder { color: #000; border-bottom-color: #000; }

.btn_search { position: absolute; top: calc(50% - 12.5px); right: 0; display: block; width: 25px; height: 25px; }
.btn_search::before { content: ''; position: absolute; top: 0; left: 0; width: 50%; height: 50%; border: 3px solid #c3c3c3; border-radius: 50%; transition: border .25s ease; }
.btn_search::after { content: ''; position: absolute; top: 65%; left: 55%; width: 31%; height: 3px; background: #c3c3c3; transform: rotate3d(0, 0, 1, 45deg); transition: background-color .25s ease;}

.input_search:active + .btn_search::before,
.input_search:focus + .btn_search::before,
.input_search:hover + .btn_search::before { border-color: #000; }
.input_search:active + .btn_search::after,
.input_search:focus + .btn_search::after,
.input_search:hover + .btn_search::after { background: #000; }
.search_box .btn_search:hover::before { border-color: #07f; }
.search_box .btn_search:hover::after { background: #07f; }

/* filter */
.filter_list { display: flex; justify-content: flex-start; align-items: center; width: 100%; margin-bottom: 2rem; padding: 1rem 2rem; box-shadow: 0 0 10px rgba(0, 0, 0, .1); }
.filter_item { margin-right: 1.5rem; }
.filter_item button { padding: .5rem 2rem; color: #737373; transition: color .25s, background-color .25s; }
.filter_item:hover button { color: #07f; }
.filter_item.on button { background: #000; color: #fff; }

/* all game */
.pc_game_wrap,
.mobile_game_wrap { width: 100%; margin-bottom: 3rem; }

.device_type { display: flex; align-items: center; margin-bottom: 1rem; }
.device_type h3 { font-size: 1.3rem; margin-right: 1rem; }
.device_type button { font-size: 1.3rem; color: #737373; }

/* type_thumbnail */
/* pc game */
.pc_list { display: flex; flex-wrap: wrap; align-items: flex-start; width: 104%; margin-left: -2%; }
.pc_item { display: none; width: 21%; margin: 0 2% 4%; box-shadow: 0 0 10px rgba(0, 0, 0, .15); }
.pc_item.on { display: block; }
.pc_thumbnail { overflow: hidden; }
.pc_thumbnail img { width: 100%; transform: scale3d(1.1, 1.1, 1); transition: transform .4s ease; }
.pc_contents { display: flex; flex-direction: column; justify-content: center; align-items: flex-start; width: 100%; padding: 1rem 1.5rem; }
.pc_title { font-size: 1.2rem; margin-bottom: 1rem; word-break: break-all; line-height: 1.4;}
.event .pc_title::after { content: 'event'; display: inline-block; font-size: .75rem; margin-left: .4rem; color: #07f; }
.pc_subtitle { margin-bottom: 2rem; }
.pc_filter { display: flex; justify-content: flex-start; align-items: center; padding-top: 1rem; width: 100%; color: #737373; border-top: 1px solid #e3e3e3; font-size: .75rem; }
.filter_txt { margin-left: .25rem;}

/* mobile game */
.mobile_list { display: flex; flex-wrap: wrap; align-items: flex-start; width: 104%; margin-left: -2%; }
.mobile_item { display: none; width: 21%; margin: 0 2% 4%; box-shadow: 0 0 10px rgba(0, 0, 0, .15); }
.mobile_item.on { display: block; }
.mobile_item .item_wrap { display: flex; justify-content: flex-start; padding: 1rem; width: 100%; }
.mobile_thumbnail { margin-right: .5rem; width: 5.125rem; border-radius: 25px; overflow: hidden; }
.mobile_contents { position: relative; display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; width: calc(100% - 5.625rem); word-break: break-all; }
.mobile_title { margin-bottom: .75rem; font-size: 1rem; }
.event .mobile_title::after { content: 'event'; display: inline-block; font-size: .75rem; margin-left: .4rem; color: #07f; }
.mobile_filter { font-size: .75rem; }
.mobile_os { position: absolute; left: 0; bottom: 0; }

/* type_list */
.type_list .device_type { margin-bottom: 2rem; overflow: visible; }
.type_list .pc_title::after, .type_list .pc_subtitle, .type_list .pc_filter { display: none; }
.type_list .pc_item { box-shadow: none; }
.type_list .pc_item > a { display: flex; justify-content: flex-start; align-items: center; }
.type_list .pc_thumbnail { display: flex; justify-content: center; align-items: center; width: 4rem; height: 4rem; border-radius: 50%; }
.type_list .pc_thumbnail img { width: auto; height: 100%; }
.type_list .pc_contents { width: calc(100% - 4rem); padding: 0 1rem; }

.type_list .mobile_title:after, .type_list .mobile_filter, .type_list .mobile_os { display: none; }
.type_list .item_wrap { align-items: center; padding: 0; }
.type_list .mobile_item { box-shadow: none; }
.type_list .mobile_thumbnail { display: flex; justify-content: center; align-items: center; width: 4rem; height: 4rem; margin-right: 0; border-radius: 50%; }
.type_list .mobile_contents { padding-left: 1rem; }
.type_list .icn_mobile { filter: grayscale(0); }

/* footer */
footer { padding-bottom: 2rem; background: #222426; }
.footer_top { display: flex; justify-content: space-between; align-items: center; padding: 1.5rem 2rem; width: 100%; border-bottom: 1px solid rgba(255, 255, 255, .1); }
.footer_top a { font-size: .875rem; color: #fff; }
.footer_sns a { margin-left: .25rem; padding: .25rem;}

.footer_middle { padding: 1.5rem 2rem; }
.footer_nav { display: flex; }
.footer_nav:last-child { margin-top: .75rem; }
.footer_nav li a { position: relative; padding: .25rem .75rem; color: #a3a3a3; font-size: .8rem; transition: color .25s; }
.footer_nav li a::after { content: ''; position: absolute; top: calc(50% - .2rem); right: 0; width: 1px; height: .5rem; background: #a3a3a3;  }
.footer_nav li:first-child a { padding-left: 0; }
.footer_nav li:last-child a::after { display: none; }

.footer_bottom { padding: 0 2rem 2rem; }
.footer_bottom address { font-size: .75rem; color: #737373; line-height: 1.5;}
.footer_bottom address a { color: #737373; border-bottom: 1px solid #737373; transition: color .25s, border .25s; }

.footer_logo { display: block; margin-left: 2rem; width: 10rem; height: 1rem; }
.footer_logo img { width: 100%; } 

/* hover */
@media (min-width: 1025px) {
    .hover_blue { -webkit-transition: color .2s ease; transition: color .2s ease; }
    .hover_blue:hover { color: #07f; }
    header .js_btn_gnb_open:hover .burger { background: #07f; }
    header .header_utill_wrap .utill_login a:hover { color: #fff; border-color: #07f; background: #07f; }

    header .gnb_service_all:hover { background: #07f; }
    header .helpcenter:hover { color: #fff; background: #737373; }

    /* icn */
    header .icn_close:hover::before,
    header .icn_close:hover::after { background: #07f; }
    header .icn_close:hover::before { transform: rotate3d(0, 0, 1, 135deg); }
    header .icn_close:hover::after { transform: rotate3d(0, 0, 1, 45deg); }

    /* info_wrap */
    .info_wrap .login a.hover_blue:hover { color: #07f; }
    .info_wrap .rec_item:hover { z-index: 1; box-shadow: 0 0 10px rgba(0, 0, 0, .25); }
    .info_wrap .rec_item a:hover .recommend_img { z-index: 2; height: 16rem; margin-top: -6rem; padding-top: 7rem; }
    .info_wrap .rec_item a:hover .recommend_img img { transform: scale3d(1.25, 1.25, 1); }

    .info_wrap .login_other li a:hover { opacity: 1; -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, .3)) grayscale(0); filter: drop-shadow(0 0 5px rgba(0, 0, 0, .3)) grayscale(0); }
    
    /* game_wrap */
    .view_type .btn:hover { border: 1px solid #07f; }
    .view_type .btn:hover .btn_elem { background: #07f; }

    .type_list .pc_item:hover .pc_title,
    .type_list .mobile_item:hover .mobile_title { color: #07f; }
    .pc_item:hover .pc_thumbnail img { transform: scale3d(1, 1, 1);}
    .mobile_item:hover .icn_mobile { filter: grayscale(0); }

    /* footer */
    .footer_sns a:hover .icn_sns { background-color: #07f; }
    .footer_nav li a:hover { color: #07f; }
    .footer_bottom address a:hover { color: #07f; border-bottom: 1px solid #07f; }
}

@media (max-width: 1280px) { html { font-size: 14px; }}

/* animation */
@keyframes gameTabSlide { 
    0% { transform: translate3d(100%, -5%, 0); box-shadow: -30px 10px 15px rgba(0, 0, 0, 0.5); }
    85% { transform: translate3d(1%, -5%, 0); box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5); }
    100% { transform: translate3d(0, 0, 0); box-shadow: none; } 
}