@charset "utf-8";
/* header */
header { position: relative; width: 100%; height: 3.75rem; }
header .header_wrap { position: fixed; width: 100%; height: 3.75rem; border-bottom: 1px solid #e3e3e3; background: #fff; }
header .header_inner { position: relative; margin: 0 auto; width: 100%; max-width: 2560px; height: 100%; text-align: center; }

header .js_btn_gnb_open { position: absolute; display: flex; justify-content: center; align-items: center; left: 1.5rem; top: 0; font-size: 1rem; height: 100%; }

header .header_logo { margin: 0 auto; width: 14rem; height: 100%; }
header .header_logo a { display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; padding: 0 1rem; }
header .header_logo img { width: 100%; }

header .header_utill_wrap { position: absolute; right: 1.5rem; top: 0; display: flex; justify-content: space-between; align-items: center; padding: 0 1rem; height: 100%; }
header .header_utill_wrap li { display: flex; justify-content: space-between; align-items: center; margin-left: 1rem; height: 100%; }
header .header_utill_wrap li a { display: flex; justify-content: space-between; align-items: center; padding: 0 1rem; width: 100%; height: 100%; color: #000; }

header .header_utill_wrap .pcbang { padding-left: .3rem; color: #737373; }

header .header_utill_wrap .utill_login a { height: 2rem; border: 2px solid #000; border-radius: 25px; -webkit-transition-property: color, border, background-color; transition-property: color, border, background-color; -webkit-transition-duration: .2s; transition-duration: .2s; }

/* header gnb */
header .gnb_wrap { position: fixed; top: 0; left: -22rem; z-index: 100; width: 22rem; height: 100vh; padding: 3.7rem 0 14.55rem; transform: translate3d(0, 0, 0); opacity: 0; transition: transform .5s ease, opacity .3s ease; background: #fff;}
header.open .gnb_wrap { transform: translate3d(100%, 0, 0); opacity: 1; } 

header .js_btn_gnb_close { position: absolute; top: 0; left: 1rem; width: 3.75rem; height: 3.75rem; }

header .gnb_contents_wrap { height: 100%; border-top: 1px solid #e3e3e3; }
header .gnb_contents_wrap a { font-size: .875rem; }
header .gnb_contents_scroll_wrap { padding: 1.5rem 0; height: 100%; overflow-x: hidden; overflow-y: auto; }

header .gnb_contents_tab { position: relative; margin-bottom: 1rem; padding: 0 1rem; }
header .btn_game { padding: .5rem 1rem; color: #737373; transition: color .4s ease;}
header button.btn_game.on { color: #000; }
header .helpcenter { position: absolute; right: 1rem; top: 0; padding: .5rem 1rem; border: 1px solid #737373; color: #737373; transition: color .2s ease, background-color .2s ease; }

header .gnb_contents_inner { position: relative; }
header .gnb_game_wrap { position: absolute; top: 0; left: 0; padding: 1rem; width: 100%; background: #fff; }
header .gnb_game_wrap li { margin: .75rem 0; }
header .gnb_game_wrap li a { display: block; padding: .5rem 1rem; width: 100%; color : #737373;}
header .gnb_game_wrap.on { z-index: 1; animation: gameTabSlide .8s ease backwards; }

header .gnb_service_wrap { position: absolute; bottom: 0; left: 0; z-index: 5; }
header .gnb_service_wrap a { font-size: .875rem; color : #fff; }
header .gnb_service_list { display: flex; justify-content: space-between; flex-wrap: wrap; padding: 1.5rem 0 1.5rem 1rem; background: #222426; }
header .gnb_service_list li { width: 33.333%; margin: .8rem 0;}
header .gnb_service_list li a { padding: .5rem 1rem; }
header .gnb_service_all { display: block; padding: 1.5rem 2rem; width: 100%; text-align: center; transition: background-color .2s ease; background: #17191d; }

header .gnb_dimmed { position: fixed; top: 0; left: 0; z-index: -1; width: 100vw; height: 100vh; transition: background-color .3s ease, z-index .3s ease; background: rgba(0, 0, 0, 0); }
header.open .gnb_dimmed { z-index: 99; background: rgba(0, 0, 0, 0.5); }

/* icn */
header .icn_hamburger { position: relative; display: inline-block; margin-right: .5rem;  width: 1.2rem; height: 1rem; }
header .icn_hamburger .burger { position: absolute; left: 0; width: 100%; height: 2px; border-radius: 15px; -webkit-transition: background-color .2s; transition: background-color .2s; background: #000; }
header .icn_hamburger .burger_top { top: 0; }
header .icn_hamburger .burger_middle { top: calc(50% - 1px); }
header .icn_hamburger .burger_bottom { bottom: 0; }

header .icn_close { position: relative; display: inline-block; width: 2rem; height: 2rem; }
header .icn_close::before,
header .icn_close::after { content: ''; position: absolute; left: 0; top: calc(50% - 2px); width: 100%; height: 4px; border-radius: 25px; -webkit-transition: background-color .2s ease, transform .2s ease; transition: background-color .2s ease, transform .2s ease; background: #000;}
header .icn_close::before { transform: rotate3d(0, 0, 1, 45deg);}
header .icn_close::after { transform: rotate3d(0, 0, 1, -45deg);}


/* hover */
@media (min-width: 1025px) {
    header .hover_blue { -webkit-transition: color .2s ease; transition: color .2s ease; }
    header .hover_blue:hover { color: #07f; }
    
    header .js_btn_gnb_open:hover .burger { background: #07f; }
    header .header_utill_wrap .utill_login a:hover { color: #fff; border-color: #07f; background: #07f; }

    header .gnb_service_all:hover { background: #07f; }
    header .helpcenter:hover { color: #fff; background: #737373; }
    /* icn */
    header .icn_close:hover::before,
    header .icn_close:hover::after { background: #07f; }
    header .icn_close:hover::before { transform: rotate3d(0, 0, 1, 135deg); }
    header .icn_close:hover::after { transform: rotate3d(0, 0, 1, 45deg); }
}

/* animation */
@keyframes gameTabSlide { 
    0% { transform: translate3d(100%, -7%, 0); box-shadow: -5px 15px 15px rgba(0, 0, 0, 0.1); }
    85% { transform: translate3d(1%, -7%, 0); box-shadow: -5px 15px 15px rgba(0, 0, 0, 0.1); }
    100% { transform: translate3d(0, 0, 0); box-shadow: none; } 
}